body{
    padding-top:10px;
    padding-left:20px;
	font-family: "Arial";
}
h2{
    font-family: "Cambria";
    margin-bottom: 10px;
	margin-top: 0px;
	font-size: 20px;
	text-tranform: all-caps;
}
#wrapperdiv{
	width: 1740px;
	margin-top: 20px;
	background-color: #EEEEEE;
}
#sidebar{
	width: 200px;
	height: 800px;
	display: inline-block;
	padding: 10px;
	background-color: #DDDDDD;
	font-size: 12px;
	margin: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
	float: left;
}
#account{
	padding: 10px;
	margin: 0px;
	
}
#barchartpart{
	width: 800px;
	height: 400px;
	display: inline-block;
	float: left;
	padding: 10px;
	background-color: #DDDDDD;
	margin: 10px;
}
#piechartpart{
	width: 600px;
	height: 800px;
	margin: 10px;
	display: inline-block;
	padding: 10px;
	background-color: #DDDDDD;
}
#achievementpart{
	width: 800px;
	height: 360px;
	display: inline-block;
	padding: 10px;
	background-color: #DDDDDD;
	margin: 10px;
	float: left;
	float: top;
}
#error{
	margin-bottom: 20px;
	padding: 10px;
	color: #D8000C;
	background-color: #FFBABA;
}
.axis text {
  font: 12px "Arial";
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.legend{
    font-family: "Arial";
    font-size: 11px;
}
.bar:hover {
  fill: "steelblue";
}
.accountdiv
{
    padding: 0;
    margin: 0;
}
ul
{
    list-style-type: none;
}

div ul li
{
    margin: 5px;
}    

img
{
    vertical-align: middle;
	padding-right: 5px;
}
div ul li p
{
    display: inline-block;
    vertical-align: middle;
}

# Colors corresponding to professions.
.necromancer{
}
.elementalist{
}
.mesmer{
}
.engineer{
}
.ranger{
}
.thief{
}
.guardian{
}
.warrior{
}
.revenant{
}

