body{
    padding-top:50px;
    padding-left:20px;
}
h2{
    font-family: "Arial";
    padding-top: 70px;
    margin-bottom: 0px;
    padding-left: 50px;
}
.axis text {
  font: 11px sans-serif;
}

.axis{
    color: #55555;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.legend{
    font-family: "Arial";
    font-size:11px;
}

